* {
  box-sizing: border-box;
  font-size: 1.0em;
  font-family: sans-serif;
}

.dropdown-item:hover {
  background-color: #dc3545 !important;
  color: white;
}

h2 {
  color: #dc3545; 
  text-align: center;
}

h4 {
  color: #dc3545; 
  text-align: center;
}

div.card-deck {
  margin: 20px;
}

div.card {
  color: gray;
  width: 20rem;
  border-color: #dc3545;
}

a.card-title {
  font-weight: 700;
  font-size: 20px; 
}

p.card-text {
  font-size: 13px;
}

li.list-group-item {
  font-size: 15px;
}

span.fa {
  color: #dc3545;
}

