* {
    box-sizing: border-box;
    font-size: 1.0em;
    font-family: sans-serif;
  }

.grid-container {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding-right: 65px;
}

p {
    font-size: 12px;
    text-align: left;
    color: gray;
}

/* Complete */
